--- drivers/gpu/drm/Kconfig
+++ drivers/gpu/drm/Kconfig
@@ -175,7 +175,7 @@ config DRM_VIA
 config DRM_MALI
 	tristate "Mali DRM supprt"
 	depends on DRM
-	depends on MALI
+	depends on MALI400
 	help
 	  Choose this option if you have a Mali 200 or Mali 400 gpu
 	  If M is selected the module will be called mali_drm.
